<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= theme %> - <%= page_title %> - Explore index
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <%- include('./partials/style') %>

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="" />

        <link rel="stylesheet" href="/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
            as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="stylesheet" type="text/css" media="screen" href="../css/cca-search.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/compiled-less.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/style-maris.css?v=<%= css_version %>"" />

    <link rel=" shortcut icon" type="image/x-icon" href="/favicon.ico">

        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
</head>

<body dir="ltr"
    class="cover-layout-empty-layout template-view portaltype-collective-cover-content site-cca section-knowledge subsection-c-a-indicators subsection-c-a-indicators-c-a-indicators icons-on userrole-anonymous">
    <div class="top-page-area">
        <div class="edit-bar-wrapper">
            <div class="content-container"> </div>
        </div>
        <div class="header">
            <%- include('./partials/nav') %>
        </div>
    </div>

    <div class="content-container site-container">
        <div id="portal-columns">
            <div id="portal-column-content" class="cell width-full position-0">

                <div id="viewlet-above-content">
                    <div id="portal-breadcrumbs">
                        <span id="breadcrumbs-you-are-here">You are here:</span>
                        <span id="breadcrumbs-home">
                            <a href="/">Home</a>
                            <span class="breadcrumbSeparator">/</span>
                        </span>
                        <span id="breadcrumbs-1" dir="ltr">
                            <a href="#">Knowledge</a>
                            <span class="breadcrumbSeparator"> /</span>
                        </span>
                        <span id="breadcrumbs-2" dir="ltr">
                            <a href="../index.html">European Climate Data Explorer</a>
                            <span class="breadcrumbSeparator"> /</span>
                        </span>
                        <span id="breadcrumbs-3" dir="ltr">
                            <a href="../<%= theme.toLowerCase() %>.html">
                                <%= theme %>
                            </a>
                            <span class="breadcrumbSeparator"> /</span>
                        </span>
                        <span id="breadcrumbs-4" dir="ltr">
                                <%= page_title %>
                            <span class="breadcrumbSeparator"> /</span>
                        </span>
                    </div>
                </div>

                <div class="">

                    <div id="content">

                        <div class="row">
                            <div class="column col-md-12" data-panel="">
                                <div class="tile tile-default">
                                    <div class="cover-richtext-tile tile-content">
                                        <h1>
                                            <%= page_title %> - Explore index
                                        </h1>
                                        <button class="btn-hidden fs-only standard-button primary-button fullscreen-cmd" style="float: right; position: relative;" href=""
                                            data-fullscreen="false">
                                            Fullscreen
                                        </button>
                                        <div>
                                            <details class="general-info collapsible" open>
                                                <summary>Background Information</summary>
                                                <br>
                                                <%- description_general %>
                                            </details>
                                        </div>
                                        <div>
                                            <details class="vis-nav collapsible">
                                                <summary>Visualisation and Navigation</summary>
                                                <br>
                                                <%- description_vis_nav %>
                                            </details>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column col-md-12" data-panel="">
                                <button class="hidden-fs standard-button primary-button fullscreen-cmd"
                                    style="float: right; position: relative;" href="" data-fullscreen="false">
                                    Fullscreen
                                </button>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="column col-md-12" data-panel="">

                                <div id="eea-application">
                                </div>
                                <script src="//unpkg.com/react@18.2.0/umd/react.production.min.js" crossorigin="anonymous"></script>
                                <script src="//unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js" crossorigin="anonymous"></script>
                                <script type="module" crossorigin src="<%= cads_app_entrypoint_url %>"></script>
                                <script type="module">
                                    import { r as render } from '<%= cads_app_entrypoint_url %>';
                                    render(
                                        document.getElementById('eea-application'),
                                        {
                                            apiBase: '<%= cads_api_base %>',
                                            indicator: '<%= ecde_identifier %>',
                                            internalAssetsBase: '<%= cads_internal_assets_base %>',
                                        }
                                    );
                                </script>

                            </div>
                        </div>
                        <br>
                        <br>
                        <%- include('./partials/disclaimer-link') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>