<div style="margin-bottom: 1rem;">
  <%- description %>
</div>

<table class="plain">
  <thead>
    <tr>
      <th>Hazard category</th>
      <th>Hazard type</th>
      <th>Indicator</th>
      <th>Zip download</th>
    </tr>
  </thead>

  <tbody>
    <%
      Object.entries(data).forEach(([hazard_category, hazard_types], hc_index) => {
        const outerSpan = Object.values(hazard_types).reduce((acc, { length }) => acc + length, 0);
        Object.entries(hazard_types).forEach(([hazard_type, indicators], ht_index) => {
          indicators.forEach(({ indicator_text, indicator_url, zip_text, zip_url }, i_index) => {

    %>
    <tr>
      <%
        if (ht_index === 0 && i_index === 0) {
          %>
            <td rowspan="<%= outerSpan %>">
              <%= hazard_category %>
            </td>
          <%
        }
      %>

      <%
        if (i_index === 0) {
          %>
      <td rowspan="<%= Object.keys(indicators).length %>">
        <%= hazard_type %>
      </td>
      <%
        }
      %>

      <td>
          <a href="<%= indicator_url %>">
            <%= indicator_text %>
          </a>
        
      </td>
      <td data-grid="<%= `${hc_index}-${ht_index}-${i_index}` %>">
        <a href="<%= zip_url %>"><%= zip_text %></a>
      </td>
    </tr>
    <%
          });
        });
      });
    %>
  </tbody>
</table>